#name, #address, #submit{
  padding: 10px;
}
#plx{
  float: right;
}
.d-flex{
  width: 100%;
}
#btn{
  margin-left: 45%;
  border-color: #8B0000;
  background-color: transparent;
}
.jumbotron{
  width: 100%;
}
#row3{
  background-image: url(../assets/bg.jpg);
  background-attachment: fixed;
}
.jumbotron{
  background-color:transparent;

}
